source [find interface/ftdi/digilent_jtag_hs3.cfg]
transport select jtag
set PL_TAPID 0x4ba00477
#source [find target/zynq_7000.cfg]
source [file join [file dirname [info script]] "zynq-7000.cfg"]
source [file join [file dirname [info script]] "ps7_init.tcl"]
source [file join [file dirname [info script]] "xilinx.tcl"]

reset_config none
