# SPDX-License-Identifier: Apache-2.0

CONFIG_ROMSTART_RELOCATION_ROM=y

# The GTC is always clocked at 1/2 of the CPU frequency (CPU_3x2x)
CONFIG_ARM_ARCH_TIMER=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=333333343

CONFIG_SYSCON=y

CONFIG_PINCTRL=y

CONFIG_REMOTEPROC=y

CONFIG_OPENAMP_MASTER=n

#shared memory is places OCM, no need for caching
CONFIG_OPENAMP_WITH_DCACHE=n


CONFIG_MBOX=y

CONFIG_RAM_CONSOLE=y

CONFIG_RAM_CONSOLE_BUFFER_SECTION=y

CONFIG_LOG_BACKEND_RPMSG=y
