# SPDX-License-Identifier: Apache-2.0

menuconfig REMOTEPROC
	bool "OpenAMP RemoteProc Device Driver"
	  
if REMOTEPROC

config OPENAMP_RESOURCE_TABLE
        bool "openamp resource table"
        imply OPENAMP
        default y
        depends on DT_HAS_OPENAMP_RESOURCE_TABLE_ENABLED
        help
          add the resource table in the generated binary. This table is
          compatible with linux remote proc framework and OpenAMP library.

config OPENAMP_RPMSG_VDEV
        bool "OpenAMP RPMSG VirtIO Device"
        imply OPENAMP
        default y
        depends on DT_HAS_OPENAMP_RPMSG_VIRTIO_DEVICE_ENABLED
        help
          Driver for the OpenAMP RPMSG VirtIO Device.

config RPMSG_VDEV_INIT_PRIORITY
	int "RemoteProc init priority"
	default 40
	help
	  RemoteProc initialization priority.

config RPMSG_VDEV_THREAD_STACK_SIZE
        int "OpenAMP RPMSG VirtIO driver internal thread stack size"
        default 2048
        depends on OPENAMP_RPMSG_VDEV
        help
          Size of the stack used in the driver.

config RPMSG_VDEV_THREAD_PRIORITY
        int "OpenAMP RPMSG VirtIO driver thread priority"
        default 8
        depends on OPENAMP_RPMSG_VDEV
        help
          RPMSG VirtIO driver thread priority.

module = RPROC
module-str = rproc
source "subsys/logging/Kconfig.template.log_config"

endif # REMOTEPROC
